<div class="shadow nav fixed-bottom navbar-light bg-light justify-content-center">
 <!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">

        <!-- Content -->
        <img style="width: 200px; height: 100px;" src="assets/img/crud.png">

      </div>
      <!-- Grid column -->


      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Parceiros</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
         </p>

      </div>
      <!-- Grid column -->


      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-5">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Contatos</h5>
        <div class="footer-widget-content">
          <a href="" class="contact-link">sales@example.com</a>
          <a href="" class="contact-link red"> support@example.com </a>
          <a href="" class="contact-link">(123) 456-789</a>
          <div class="footer-social">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
          </ul>
          </div>

      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-5">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Follow UP</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
          commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
          excepturi hic.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background-color: blueviolet; color: cornsilk;">© 2020 Copyright:
    <a href="/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
  </div>
</footer>
<!-- Footer -->
</div>



