<h1 style="color:blueviolet;" class=" my-3 ">Quem somos nós?</h1><br>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card shadow" style="width: 14rem;">
                <img src="assets/img/eu.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Alana Sato</p>
                </div>
            </div>
        </div>
        <div class="col-sm">

            <div class="card shadow " style="width: 14rem;">
                <img src="assets/img/ponto.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Daniel Carvalho.</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card shadow " style="width: 14rem;">
                <img src="assets/img/ponto.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Hiago Carvalho</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card shadow " style=" width: 14rem; ">
                <img src="assets/img/ponto.jpg" class="card-img-top " alt="... ">
                <div class="card-body ">
                    <p class="card-text ">Yan Gimenez</p>
                </div>
            </div>
        </div>
    </div>
</div>